/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/11/2014, 18:30:55
    
*/
.all_cadastro{
    font-size: 14px;
    border: 2px solid #C0C0C0;
    padding: 5px;
    border-radius: 6px;
    background: #FFF;
    font-weight: 600;
    color: #49494b;
}
.inputs{
    border-radius: 3px;
    border: 1px #aaa solid;
    padding-left: 5px;
    font-size: 14px;
    font-family: "Calibri";
}
.all_cadastro h3{
    text-align: center;
}
#t_form tr{

}
.all_cadastro p{
    font-size: 12px;
    width: 600px;
    text-align: right;
    margin-bottom: 10px;
    color: red;
}
.logo_empresa{
    width: 200px; 
    height: 170px;
    opacity: 0.3;
    margin: 0 auto;
}
.botao{
    text-align: right;
    margin-top: 10px;
    margin-right: 100px;
}