/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/11/2014, 13:46:53
    Author     : Blendo Santos
*/

body {
    font-family: "Arial";
    font-size: 62.5%;
}
.menuPrincipal{
    background: rgb(78,78,80); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(78,78,80,1) 0%, rgba(163,163,163,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,78,80,1)), color-stop(100%,rgba(163,163,163,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(78,78,80,1) 0%,rgba(163,163,163,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(78,78,80,1) 0%,rgba(163,163,163,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(78,78,80,1) 0%,rgba(163,163,163,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(78,78,80,1) 0%,rgba(163,163,163,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e50', endColorstr='#a3a3a3',GradientType=0 ); /* IE6-9 */
    width: 100%;
    float: left;
}
.inc_menu{
    margin: 10px;
}
.linha_preta{
    background: #000;
    width: 100%;
    height: 3px;
}
.nome_usuario{
    color: #FFF;
   font-size: 14px;
   float: right;
   margin-top: -21px;
   margin-right: 350px;
}
.sair{
   float: right;
   margin-top: -21px;
   margin-right: 200px;
}
.btn_sair{
    font-weight: bold;
    font-size: 14px;
    color: #000;
    padding: 3px 10px 3px 10px;
    border-radius: 3px;
    border: 1px solid #363636;
    background: #FFF;
    text-decoration: none;
}
.data_hora{
    font-size: 14px;
    color: #FFF;
    float: right;
    margin-right: 50px;
    margin-top: -40px;
}
.conteudo_menu{
    position: relative;
    padding-top: 70px;
    margin: 0 auto;
    width: 700px;
    max-height: 800px;
    min-height: 600px;
}
.logo_page{
    width: 500px;
    height: 450px;
    margin: 0px auto;
}
.logo_page img{
    margin-top: 40px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.historios{
    position: absolute;
    font-size: 12px;
    float: left;
    margin-left: -250px;
}
