#logs{font-size: 14px;}
#houver{ color: #000; }
#houver:hover{background: #999;}
#pageEmpresa{margin: 0 auto; padding: 0; border: 0; text-align: left; width: 800px; font-size: 12px;}
.inputsGrandes{width: 60%; }